<div>
      <nav class="navbar fixed-top navbar-expand-lg navbar-expand-md nav_cont">
        <!-- logo-div -->
        <div class="navbar-nav">
          <div class="nav-item">
            <a href="#" class="navbar-brand nav_logo"
              ><span class="none">Vaxine</span>
              <span class="time">Time</span></a
            >
          </div>
        </div>

        <!-- nav-links/data-links -->

        <ul class="navbar-nav ml-auto center mr-5">
          <li class="nav-item">
            <a href="/" class="nav-link nav_text link-un">Home</a>
          </li>
          <li class="nav-item">
            <a href="/register" class="nav-link nav_text link-un">Register</a>
          </li>
          <li class="nav-item">
            <a href="/info" class="nav-link nav_text link-un">Info</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link nav_text link-un">LogIn</a>
          </li>
        </ul>
      </nav>
    </div>