html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.cont-main {
  margin: 5rem 3rem;
}

.cont-two {
  margin-top: 0;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.count-end {
  margin-top: 6rem;
  margin-bottom: 0;
  background-color: #344240;
  height: 30vh;
}

.last-font {
  padding-top: 5%;
  font-size: 5rem;
  font-family: font-logo;
  color: white;
}

.heart {
  color: red;
}

.in {
  color: #f76319;
  text-shadow: 3px 3px #7b8788;
}

.di {
  color: #ffffff;
  text-shadow: 3px 3px #7b8788;
}

.a {
  color: #1dc211;
  text-shadow: 3px 3px #7b8788;
}

.nav_cont {
  height: 10vh;
  width: 100%;
  background-color: #fffff6;
}

.nav_cont a:hover {
  color: gold;
}

.nav_logo {
  font-family: "Lobster Two", cursive;
  color: #25ccf7;
  font-size: 3rem;
  margin-left: 5rem;
  text-align: center;
}

.time {
  color: white;
  background-color: #25ccf7;
  border-radius: 10%;
  padding: 0.3rem;
}

.nav_text {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: #25ccf7;
  margin-right: 3rem;
  padding: 1.4rem;
}

.link-un::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #25ccf7;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.link-un:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

#hero {
  height: 90vh;
  background-color: black;
  margin-top: 6.6rem;
}

.hero_img {
  background-image: url("../images/hero-kids.jpg");
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_wrapper {
  text-decoration: none;
}

.hero_wrapper h1 {
  padding-top: 15%;
  padding-left: 5%;
  color: #25ccf7;
  font-family: "Roboto Mono", monospace;
  font-size: 8rem;
}

.hero_wrapper h3 {
  margin-top: 2rem;
  margin-left: 5%;
  color: #fffff9;
  font-size: 4rem;
  text-shadow: 2px 2px #25ccf7;
}

.vac-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vac-heading {
  padding: 1.2rem;
  font-family: "Roboto Mono", monospace;
  color: #25ccf7;
  font-size: 5rem;
}

.vac-text {
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #7b8788;
  font-size: 2.3rem;
  line-height: 1.5;
}

.vac-form {
  font-size: 1.7rem;
}

.vac-buttton {
  color: #25ccf7;
  background-color: #ffffff;
  text-align: center;
  margin-left: 43%;
  margin-top: 10%;
}

.dd {
  padding: 1rem 5rem;
  color: #25ccf7;
  background-color: #ffffff;
  text-align: center;
  border-color: blue;
}

.dd:hover {
  color: #ffffff;
  background-color: #25ccf7;
  border-color: red;
  -webkit-box-shadow: white;
          box-shadow: white;
}

.margin-point {
  margin-left: 0.1rem;
}

.video-padding {
  padding: 4.5rem;
  background-color: #fffff9;
}

.link-img {
  width: 220px;
  height: 220px;
  text-align: left;
  opacity: 1;
}

.fourm-top {
  margin-top: 12%;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 12%;
}

.fourm-img {
  background-image: url("../images/login-back.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 4%;
  margin-right: 4%;
}

.fourm-head {
  color: #25ccf7;
  font-family: "Lobster Two", cursive;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.fourm-outer {
  font-family: "Roboto Mono", monospace;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.fourm-padding {
  padding: 10rem;
}

.padding-two {
  padding: 3rem;
}

.btn-l {
  background-color: #ffffff;
  color: #25ccf7;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 5%;
  margin-top: 5%;
}

.btn-l:hover {
  background-color: #25ccf7;
  color: #ffffff;
}

.reg-background-img {
  background-image: url("../images/reg-back.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reg-text {
  font-family: "Roboto Mono", monospace;
}

.peach {
  background-color: #fffff3;
}

.right-heading {
  font-family: "Lobster Two", cursive;
  color: #25ccf7;
  padding: 2rem;
  font-size: 4rem;
}

.margin-one {
  margin: 1rem;
}

.padding-one {
  padding: 1rem;
}

.form-control {
  font-size: 1.4rem;
}

.form-text {
  font-size: 1.4rem;
}

.margin-two {
  margin: 2rem;
  font-size: 1.5rem;
}

.profile-top {
  margin-top: 7%;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 7%;
}

.image-f {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #25ccf7;
}

.overlay:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text:hover {
  color: white;
  text-decoration: underline;
  text-decoration: none;
}

.text-profile {
  color: #7b8788;
  font-weight: 300;
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
}

.child-name {
  color: #25ccf7;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
}

.right-align {
  text-align: right;
}

.pading-auto {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
}

.table-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  color: #7b8788;
}

.margin-top-two {
  margin-top: 5rem;
}
/*# sourceMappingURL=defult.css.map */