<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<!-- bootstrap css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		
		<!-- local css -->
		    <link rel="stylesheet" href="css/defult.css" />

		<link rel="stylesheet" type="" href="css/style.css">
		<!-- google-fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@1,700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
		<!-- fav icons for media -->
		<script src="https://kit.fontawesome.com/611f9c56f6.js" crossorigin="anonymous"></script>
		
	</head>
	<body>
		<!-- navbar -->
		<%- include('./partials/nav2')%>

		 
		
</div>
<div class="padding-7 form-item-no-grow ">
 <form action="/profile" method="POST">
            <div class="form-item form-item-no-grow ">
                <input id="test" type="file" name="cover" class="filepond">
                <input type="submit" name="" class="btn btn-primary btn-block margin-two" value="submit">
            </div>
        </form>
	
</div>

</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</footer>
</html>