<form action="/test" method="POST">
<label for="">HospitalId</label>
<input type="text" name="HospitalId" value="">
<label for="">HospitalName</label>
<input type="text" name="HospitalName" value="">
<input type="submit" name="" value="submit">
    
</form>